{% extends 'layout/base.html.twig' %}

{% block subheader %}
    <!-- Title -->
    {{ include('layout/partials/_title.html.twig') }}
{% endblock %}

{% block body %}

<div class="row mt-4 mb-4">
    <div class="col">

        <section>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

            <p>Thanks for your subscription!</p>

            <p>
             We appreciate your business! If you have any questions, please email
            <a href="mailto:swiftapps@protonmail.com">info@swift-app.ch</a>.
            </p>
            <a href="{{path('app_index')}}">
            Home Page
            </a>


        </div>
        </section>

    </div>
</div>
</body>

{% endblock %}
