<!-- Menu -->
<li class="nav-item dropdown no-arrow">
    <a class=""
       href="#">
        {{ 'menu.site_info'|trans }}
    </a>
    <ul class="sub-menu" aria-labelledby="userDropdown">

        {% for item in site.menu %}
         <li class="ms-0">
            <a class="dropdown-item" href="{{ item.url }}"
                {% if item.nofollow == true %} rel="nofollow" {% endif %}
                {% if item.newTab == true %} target="_blank" {% endif %}
            >
                {{ item.title }}
            </a>
        </li>
        {% endfor %}

    </ul>
</li>
                       
