<!-- Title -->
<div class="row">

    <div class="col text-start page-title">
        {{ title|trans }}
    </div>

    {% if action_edit_url is defined %}
        <div class="col text-end">
            <a class="btn btn-success" href="{{ path(action_edit_url) }}">
                <i class="fa-solid fa-plus"></i>
                {{ 'action.edit'|trans }}
            </a>
        </div>
    {% endif %}

</div>
<hr>
