<!-- Submit -->
<div class="form-group row py-4">
    <div class="col-md-12">

        <button type="submit" class="btn btn-success btn-lg">
            {{ 'action.save'|trans }}
        </button>

    </div>
</div>
