<!-- Submit -->
<div class="form-group row py-4">
    <div class="col-md-12">

        <button type="submit" class="btn btn-success">
            {{ 'action.save'|trans }}
        </button>
        <a class="btn btn-danger" href="{{ path(action_cancel_url, {id: thread.id}) }}">
            {{ 'action.cancel'|trans }}
        </a>

    </div>
</div>
