<!-- Menu -->
<li class="nav-item dropdown no-arrow">
    <a class="nav-link dropdown-toggle"
       href="#" id="userDropdown"
       role="button"
       data-toggle="dropdown"
       data-bs-toggle="dropdown"
       aria-haspopup="true"
       aria-expanded="false">
        {{ 'menu.site_info'|trans }}
    </a>
    <div class="dropdown-menu" aria-labelledby="userDropdown">

        {% for item in site.menu %}
            <a class="dropdown-item" href="{{ item.url }}"
                {% if item.nofollow == true %} rel="nofollow" {% endif %}
                {% if item.newTab == true %} target="_blank" {% endif %}
            >
                {{ item.title }}
            </a>
        {% endfor %}

    </div>
</li>
