<!-- Signup -->
{% if site.allow_register %}

    <li class="nav-item">
        <a class="nav-link" href="{{ path('auth_register') }}">
            {{ 'menu.register'|trans }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('security_login') }}">
            {{ 'menu.login'|trans }}
        </a>
    </li>

{% endif %}
