{% extends 'layout/dash/dash.html.twig' %}

{% block subheader %}
    <!-- Title -->
    <div class="row">
     {{ include('layout/partials/_title.html.twig') }}
{% endblock %}

{% block body %}
    {#<h1>Edit Thread Message</h1>#}

    {{ include('dealer/_form.html.twig', {'button_label': 'Update'}) }}

    {#<a href="{{ path('app_message_index') }}">back to list</a>#}

{% endblock %}
