<button type="submit"
        data-type="delete"
        class="btn btn-sm btn-danger"
        data-message="{{ 'action.continue'|trans }}"
        data-confirmation-text="{{ 'action.delete'|trans }}"
        data-cancellation-text="{{ 'action.cancel'|trans }}">
    {{ 'action.delete'|trans }}
</button>
