{% extends 'layout/base.html.twig' %}

{% block subheader %}
    <!-- Title -->
    {{ include('layout/partials/_title.html.twig') }}
{% endblock %}

{% block body %}

    <div class="row mt-4 mb-4">
        <div class="col">
            {{ include('common/_flash_messages.html.twig') }}
            <h1>
                {{ title|trans }}
            </h1>

        </div>
    </div>

{% endblock %}
