{% extends 'layout/base.html.twig' %}

{% block subheader %}
    <!-- Title -->
    {{ include('layout/partials/_title.html.twig') }}
{% endblock %}

{% block body %}

    <div class="row mt-4 mb-4">
        <div class="col">

            <h1>
                {{ title|trans }}
            </h1>

            -- dev2 --
            <br>
            {{ get_stripe_publishable_key() }}
            <br>
            {% set stripeKey = get_stripe_publishable_key() %}
            {{ stripeKey }}
        </div>
    </div>

{% endblock %}
